.fullscreen {
  height: 100vh;
  width: 100vw;
  margin: 0px !important;
}

.fullheight {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100vh;
}

.fullwidth {
  margin-right: 0px;
  margin-left: 0px;
  width: 100vw;
}

body {
  margin-bottom: 0px;
  border: 0px;
}

/* menu control */

.menu_extra {
  font-size: .75em;
  margin-left: 1em;
}

#login-sign-in-link {
  text-transform: lowercase;
  color: #fff;
  text-decoration: none !important;
}

#login-name-link {
  text-transform: lowercase;
  color: #fff;
  text-decoration: none !important;
}
