<template name="na_dorms">

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Dorm Name</th>
        <th># of Slips</th>
        <th>Advisors</th>
        <th>Config</th>
      </tr>
    </thead>
    <tbody>
      {{#each dorm}}
        <tr>
          <td>{{name}}</td>
          <td>{{count}}</td>
          <td>
            {{#if has_advisors}}
              {{#each advisor}}
                {{.}}&nbsp;
              {{/each}}
            {{else}}
              <i>no advisors</i>
            {{/if}}
          </td>
          <td><a class="text-info clickable" id="opendormsettings">open settings</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <br><br><br>
  <div class="panel panel-info">
    <div class="panel-heading">Missing a dorm?</div>
    <div class="panel-body">
      <form class="form-horizontal" id="addadorm_form">
        <div class="form-group">
          <label for="login-email" class="col-lg-2 control-label">Dorm Name</label>
          <div class="col-lg-10">
            <input class="form-control" id="addadorm" placeholder="dorm name"/>
          </div>
        </div>
      </form>
      <a class="btn btn-primary btn-raised clickable pull-right" id="addtodb">add to database</a>
    </div>
  </div>

  {{#with dormsettings_selected}}
    <div class="modal" id="dormsettingsmodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Adjust settings for {{name}}:</h4>
          </div>
          <div class="modal-body">
            <a class="btn btn-primary clickable">Add an advisor</a>
            <a class="btn btn-warning clickable" id="opendormremovalwarning">Remove dorm from database</a>
            <div class="alert alert-dismissable alert-warning" id="dormremovalwarning">
              <button type="button" class="close" id="close_alert">×</button>
              <h4>Warning! Possible app-breaking actions within!</h4>
              <p>This is a really dangerous thing to do. Any slips attributed to this dorm <em>will be lost forever!</em> If you're still positive you know what you're doing, <a class="alert-link clickable">click here</a>. Otherwise, please <a class="alert-link clickable" id="close_alert">close this dialog</a>.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
</template>
